# Import Necessary Libraries

In [67]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import dask.dataframe as dd
from dask.distributed import Client, LocalCluster

# Loading Data

In [101]:
data = dd.read_parquet('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/january.parquet', npartitions=1)
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [102]:
data.head().T

,0,1,2,3,4
VendorID,1,1,2,2,2
tpep_pickup_datetime,2022-01-01 00:35:40,2022-01-01 00:33:43,2022-01-01 00:53:21,2022-01-01 00:25:21,2022-01-01 00:36:48
tpep_dropoff_datetime,2022-01-01 00:53:29,2022-01-01 00:42:07,2022-01-01 01:02:19,2022-01-01 00:35:23,2022-01-01 01:14:20
passenger_count,2.0,1.0,1.0,1.0,1.0
trip_distance,3.8,2.1,0.97,1.09,4.3
RatecodeID,1.0,1.0,1.0,1.0,1.0
store_and_fwd_flag,N,N,N,N,N
PULocationID,142,236,166,114,68
DOLocationID,236,42,166,68,163
payment_type,1,1,1,2,1
fare_amount,14.5,8.0,7.5,8.0,23.5
extra,3.0,0.5,0.5,0.5,0.5
mta_tax,0.5,0.5,0.5,0.5,0.5
tip_amount,3.65,4.0,1.76,0.0,3.0
tolls_amount,0.0,0.0,0.0,0.0,0.0
improvement_surcharge,0.3,0.3,0.3,0.3,0.3
total_amount,21.95,13.3,10.56,11.8,30.3
congestion_surcharge,2.5,0.0,0.0,2.5,2.5
airport_fee,0.0,0.0,0.0,0.0,0.0

In [72]:
data = data.set_index(data.tpep_pickup_datetime, sorted=True)

In [73]:
data.head().T

tpep_pickup_datetime,2022-01-01 00:35:40,2022-01-01 00:33:43,2022-01-01 00:53:21,2022-01-01 00:25:21,2022-01-01 00:36:48
VendorID,1,1,2,2,2
tpep_pickup_datetime,2022-01-01 00:35:40,2022-01-01 00:33:43,2022-01-01 00:53:21,2022-01-01 00:25:21,2022-01-01 00:36:48
tpep_dropoff_datetime,2022-01-01 00:53:29,2022-01-01 00:42:07,2022-01-01 01:02:19,2022-01-01 00:35:23,2022-01-01 01:14:20
passenger_count,2.0,1.0,1.0,1.0,1.0
trip_distance,3.8,2.1,0.97,1.09,4.3
RatecodeID,1.0,1.0,1.0,1.0,1.0
store_and_fwd_flag,N,N,N,N,N
PULocationID,142,236,166,114,68
DOLocationID,236,42,166,68,163
payment_type,1,1,1,2,1
fare_amount,14.5,8.0,7.5,8.0,23.5
extra,3.0,0.5,0.5,0.5,0.5
mta_tax,0.5,0.5,0.5,0.5,0.5
tip_amount,3.65,4.0,1.76,0.0,3.0
tolls_amount,0.0,0.0,0.0,0.0,0.0
improvement_surcharge,0.3,0.3,0.3,0.3,0.3
total_amount,21.95,13.3,10.56,11.8,30.3
congestion_surcharge,2.5,0.0,0.0,2.5,2.5
airport_fee,0.0,0.0,0.0,0.0,0.0

In [74]:
data.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
2022-01-31 23:36:53,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,<NA>,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2022-01-31 23:44:22,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,<NA>,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2022-01-31 23:39:00,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,<NA>,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2022-01-31 23:36:42,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,<NA>,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2022-01-31 23:46:00,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,<NA>,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [75]:
data.isnull().sum().compute()

VendorID                     0
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          71503
trip_distance                0
RatecodeID               71503
store_and_fwd_flag       71503
PULocationID                 0
DOLocationID                 0
payment_type                 0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge     71503
airport_fee              71503
dtype: int64

In [76]:
data.ffill().compute()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
2022-01-01 00:35:40,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
2022-01-01 00:33:43,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2022-01-01 00:53:21,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
2022-01-01 00:25:21,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
2022-01-01 00:36:48,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-31 23:36:53,2,2022-01-31 23:36:53,2022-01-31 23:42:51,1.0,1.32,1.0,N,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,2.5,0.0
2022-01-31 23:44:22,2,2022-01-31 23:44:22,2022-01-31 23:55:01,1.0,4.19,1.0,N,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,2.5,0.0
2022-01-31 23:39:00,2,2022-01-31 23:39:00,2022-01-31 23:50:00,1.0,2.10,1.0,N,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,2.5,0.0
2022-01-31 23:36:42,2,2022-01-31 23:36:42,2022-01-31 23:48:45,1.0,2.92,1.0,N,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,2.5,0.0
2022-01-31 23:46:00,2,2022-01-31 23:46:00,2022-02-01 00:13:00,1.0,8.94,1.0,N,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,2.5,0.0

In [78]:
data.resample('H').agg({'passenger_count': 'sum','fare_amount':'median', 'VendorID': 'count'}).compute()

                      passenger_count  fare_amount  VendorID
tpep_pickup_datetime
2008-12-31 22:00:00               1.0         12.0         1
2008-12-31 23:00:00               9.0          7.5         5
2009-01-01 00:00:00               7.0          7.0         5
2009-01-01 01:00:00               0.0          NaN         0
2009-01-01 02:00:00               0.0          NaN         0
...                               ...          ...       ...
2022-05-18 16:00:00               0.0          NaN         0
2022-05-18 17:00:00               0.0          NaN         0
2022-05-18 18:00:00               0.0          NaN         0
2022-05-18 19:00:00               0.0          NaN         0
2022-05-18 20:00:00               8.0          6.5         2

[117263 rows x 3 columns]

# Optimize for memory

In [62]:
! ls -lrt C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/*.parquet | wc -l

12

In [63]:
! ls C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/*.parquet

C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/april.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/august.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/december.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/february.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/january.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/july.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/june.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/march.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/may.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/november.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/october.parquet
C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/september.parquet

In [ ]:
##### Create Cluster ##########

In [14]:
# LocalCluster?

In [15]:
cluster = LocalCluster(
    name='timeseries',
    n_workers=2,
    threads_per_worker=1,
    host='localhost',
    scheduler_port=8786,
    asynchronous=True, 
    processes=False
)
client = Client()
client

In [16]:
############## Steps ####################

In [79]:
data.compute().info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2463931 entries, 2022-01-01 00:35:40 to 2022-01-31 23:46:00
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     string
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), string(1)
memory usage: 369.1 MB

In [85]:
data.compute().describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,2.463931e+06,2463931,2463931,2.392428e+06,2.463931e+06,2.392428e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.463931e+06,2.392428e+06,2.392428e+06
mean,1.707819e+00,2022-01-17 01:19:51.689724,2022-01-17 01:34:04.421902,1.389453e+00,5.372751e+00,1.415507e+00,1.660768e+02,1.635807e+02,1.194449e+00,1.294648e+01,1.006710e+00,4.914539e-01,2.385696e+00,3.749773e-01,2.967234e-01,1.916937e+01,2.282322e+00,8.249935e-02
min,1.000000e+00,2008-12-31 22:23:09,2008-12-31 23:06:56,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-4.800000e+02,-4.500000e+00,-5.000000e-01,-1.252200e+02,-3.140000e+01,-3.000000e-01,-4.803000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,2022-01-09 15:37:41,2022-01-09 15:50:50.500000,1.000000e+00,1.040000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,7.200000e-01,0.000000e+00,3.000000e-01,1.130000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2022-01-17 12:11:45,2022-01-17 12:23:49,1.000000e+00,1.740000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,2.000000e+00,0.000000e+00,3.000000e-01,1.469000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2022-01-24 13:49:37.500000,2022-01-24 14:02:51,1.000000e+00,3.130000e+00,1.000000e+00,2.340000e+02,2.360000e+02,1.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,3.000000e+00,0.000000e+00,3.000000e-01,2.002000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,2022-05-18 20:41:57,2022-05-18 20:47:45,9.000000e+00,3.061593e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.010923e+05,3.350000e+01,1.659000e+01,8.888800e+02,1.933000e+02,3.000000e-01,4.010956e+05,2.500000e+00,1.250000e+00
std,5.021375e-01,NaN,NaN,9.829686e-01,5.478714e+02,5.917573e+00,6.546806e+01,7.079016e+01,5.001778e-01,2.558149e+02,1.236226e+00,8.291560e-02,2.830698e+00,1.680538e+00,4.374741e-02,2.559641e+02,7.432040e-01,3.125554e-01

In [23]:
# So for our prediction of the next 1hr where will be most passengers and how many Uber needed there
# We will need just 4 columns from this data set
# 1. VendorID
# 2. tpep_pickup_datetime
# 3. passenger_count
# 4. PULocationID

In [86]:
def optimeToFitMemory(ddf):
    new_types = dict(
        int32 = ['passenger_count',],
        int16 = ['VendorID',]
    )
    for key in new_types:
        for col in new_types[key]:
            ddf[col] = ddf[col].astype(key)
    return ddf

In [87]:
ddf = dd.read_parquet('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/january.parquet', npartitions=4)
s1 = ddf.loc[
    ddf.tpep_pickup_datetime>'2021-12-31 23:00:00', 
    ['tpep_pickup_datetime','passenger_count', 'VendorID','PULocationID' ]
]
s2 = s1.set_index('tpep_pickup_datetime', sorted=True)
s3 = s2.ffill()
s4 = s3.resample('H').agg({'passenger_count': 'sum', 'VendorID': 'count',})
s5 = s4.map_partitions(optimeToFitMemory)
s6 = s5.reset_index()
s6.to_parquet('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022.parquet', append=True, ignore_divisions=True)

In [35]:
s6.dask

HighLevelGraph with 12 layers.
<dask.highlevelgraph.HighLevelGraph object at 0x2b3046fa110>
 0. read-parquet-2462bd2dd4201e09902d669a7bceda40
 1. getitem-19c27aac1e13aa650ad9b92320aa89d9
 2. gt-9edb7a87808d7cfd20b282c5f075cd8d
 3. loc-series-20868a1b7dd486516e38cd9a27025d8a
 4. set_index-6fbc7ca158015222a60d69558188a584
 5. fillna-chunk-25532b03839bae60b3cf133c68c2b53e
 6. overlap-concat-6383540c41615e17d1296c941f06c7ce
 7. overlap-ffill-f651c14b9f661fa041eed7f303939025
 8. repartition-merge-86bfef0d7ce787b55b5d3927cdc30b80
 9. resample-6857ba045230e07f5239c91a787b37d8
 10. optimeToFitMemory-257cd91b308a81b0463dca4bf91bab24
 11. reset_index-4bfadabb00db21fd156bd91e2d0da6a9

In [36]:
files = [
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/april.parquet',
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/august.parquet',
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/december.parquet',
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/february.parquet',
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/january.parquet',
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/july.parquet',
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/june.parquet',
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/march.parquet',
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/may.parquet',
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/november.parquet',
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/october.parquet',
   'C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022/september.parquet',
]

In [88]:
optimized_df = pd.DataFrame(
    {
        'tpep_pickup_datetime': [pd.Timestamp(year=2022, month=1, day=1, hour=0, minute=0, second=0)],
        'passenger_count':[0,],
        'VendorID': [0,]
    }
)


for file in files:
    ddf = dd.read_parquet(file, npartitions=100)
    s1 = ddf.loc[
        ddf.tpep_pickup_datetime >= '2022-01-01 00:00:00', 
        ['tpep_pickup_datetime', 'passenger_count', 'VendorID', 'PULocationID']
    ]
    s2 = s1.set_index('tpep_pickup_datetime', sorted=True)
    s3 = s2.ffill()
    s4 = s3.resample('H').agg({'passenger_count': 'sum', 'VendorID': 'count', 'PULocationID': 'count'})
    s5 = s4.map_partitions(optimeToFitMemory)
    s6 = s5.reset_index()
    optimized_df = pd.concat([optimized_df, s6.compute()], axis=0, ignore_index=True)

In [89]:
optimized_df.shape

(21626, 4)

In [92]:
optimized_df.head()

  tpep_pickup_datetime  passenger_count  VendorID  PULocationID
0  2022-01-01 00:00:00                0         0           NaN
1  2022-03-31 15:00:00                4         4           4.0
2  2022-03-31 16:00:00                3         3           3.0
3  2022-03-31 17:00:00                0         0           0.0
4  2022-03-31 18:00:00                0         0           0.0

In [93]:
optimized_df.tail()

      tpep_pickup_datetime  passenger_count  VendorID  PULocationID
21621  2022-09-30 20:00:00             9959      6905        6905.0
21622  2022-09-30 21:00:00            10046      6894        6894.0
21623  2022-09-30 22:00:00            10244      6999        6999.0
21624  2022-09-30 23:00:00             9633      6547        6547.0
21625  2022-10-01 00:00:00               47        19          19.0

In [94]:
optimized_df.isnull().sum()

tpep_pickup_datetime    0
passenger_count         0
VendorID                0
PULocationID            1
dtype: int64

In [97]:
optimized_df.drop([0, 21625], inplace=True)

In [58]:
optimized_df.to_csv('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022.parquet.csv', index=False)

In [98]:
pd.read_csv('C:/Users/SRA/Desktop/backup/C/MLgrit/time_series_project/uber-taxi-demand/data/2022.parquet.csv', encoding='unicode_escape')

      tpep_pickup_datetime  passenger_count  VendorID  PULocationID
0      2022-03-31 15:00:00                4         4           4.0
1      2022-03-31 16:00:00                3         3           3.0
2      2022-03-31 17:00:00                0         0           0.0
3      2022-03-31 18:00:00                0         0           0.0
4      2022-03-31 19:00:00                0         0           0.0
...                    ...              ...       ...           ...
21619  2022-09-30 19:00:00            12107      8576        8576.0
21620  2022-09-30 20:00:00             9959      6905        6905.0
21621  2022-09-30 21:00:00            10046      6894        6894.0
21622  2022-09-30 22:00:00            10244      6999        6999.0
21623  2022-09-30 23:00:00             9633      6547        6547.0

[21624 rows x 4 columns]